@use "../../scss/" as *;
.Nav_bar {
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.6);
  width: fit-content;
  bottom: 5px;
  border-radius: 3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 3rem;
  z-index: 999;
  @include mobile {
   padding: 0 2rem;
 }

  .nav__list {
    display: flex;
    position: relative;
    width: fit-content;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
  @include mobile {
     gap: 2rem;
  }

    .nav_item {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &.active .icon {
        transform: translateY(-35px);
        background-color: #1e293b;
        border-radius: 50%;
        border: 4px solid rgba($color: #f7f2f2, $alpha: 0.1);
        width: 70px;
        height: 70px;
        @include mobile {
          width: 60px;
          height: 60px;
          line-height: 60px;
       }
     
      }
      &.active .text {
        opacity: 1;
      }
      .icon {
        line-height: 70px;
        font-size: 1.5rem;
        transition: 0.5s;
        position: relative;
        text-align: center;
        @include mobile {
          font-size: 1.2rem;
         }
     
      }
      .text {
        position: absolute;
        transform: translateY(100%);
        transition: 0.5s;
        opacity: 0;
      }
    }
  }
}
