@use "./variables" as *;

//=======MObile ============///
@mixin mobile {
  @media only screen and (max-width: 600px) {
    .container {
      width: $content-width-ms;
    }
    section {
      margin-top: 2rem;
    }
    @content;
  }
}

@mixin mobilesmall {
  @media only screen and (max-width: 415px) {
    section {
      margin-top: 2rem;
    }
    @content;
  }
}
/* reponsive tablet medium  devices */
@mixin tablet {
  @media only screen and (max-width: 1024px) {
    .container {
      width: $content-width-md;
    }

    section {
      margin-top: 6rem;
    }
    @content;
  }
}
@mixin ipad {
  @media only screen and (max-width: 768px) {
    .container {
      width: $content-width-ms;
    }
    section {
      margin-top: 2rem;
    }
    @content;
  }
}