@use "../../scss/" as *;

header {
  height: 120vh;
  overflow: hidden;
  position: relative;
  background: url(../../accsets/banner-bg.png);
  clip-path: polygon(0 0, 100% 0%, 100% 89%, 49% 100%, 0% 90%);
  box-shadow: rgb(175, 18, 214) 0px 20px 30px -10px;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .left-h {
      flex: 2;
      position: absolute;
      top: 10rem;
      left: 4rem;
      .about-me .button-btn {
        padding: 0.5rem 1rem;
        background: radial-gradient(
          circle,
          rgba(63, 94, 251, 1) 0%,
          rgba(252, 70, 107, 1) 100%
        );
        border: 1px solid var(--color-white);
        font-size: 1rem;
        border-radius: 5px;
        color: var(--color-white);
      }
      .CTA {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
      }
      .scrolldown {
        display: flex;
        gap: 1rem;
        align-items: center;

        .icon {
          font-size: 3rem;
        }
      }
    }
    /* ======= image ME ====== */

    .right-h {
      flex: 1;
      position: absolute;
      right: 10rem;
      top: 7rem;
      display: flex;
      flex-direction: column;
      .me {
        width: 25rem;
        height: 40rem;
        border-radius: 50%;
        margin: auto;
        transition: 4s linear;
        animation: updown 4s linear infinite;
        img {
          border-radius: 50%;
        }
      }
      .header_social {
        display: flex;
        gap: 2rem;
        font-size: 2rem;
        position: absolute;
        bottom: 10rem;
        right: 2rem;
      }
    }
  }
}

@keyframes updown {
  0% {
    transform: translateY(0rem);
  }

  20% {
    transform: translateY(-1rem);
  }

  35% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

// ===== media tablet pro ===== ///////
@media screen and (min-width: 1366px) {
  header{
    height: 70vh;
  }
}
@media  (max-width: 1200px) and (max-width: 1366px) {
  header {
    height: 60vh;
    .me {
      img {
        width: 20rem;
        object-fit: cover;
        position: absolute;
        right: 1rem;
        top: 3rem;
      }
    }
  }
}

// ===== media tablet small ==== ///

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    height: 120vh;

    .header_container{
       .content{
         
        .left-h{
          position: absolute;
           transform: translateY(30rem);
           left: 20%;

           .about-me{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text{
              text-align: center;
            }

            .scrolldown{
              position: absolute;
             right: -11rem;
             flex-direction: column;
             top: -26rem;
              .scroll_down{
                transform: rotate(90deg);
                margin-bottom: 4rem;
                font-size: 1.5rem;
              }
            }
           }
          
        }

         .right-h{
          position: absolute;
          top: 6rem;
          left: 20%;
          .header_social {
            position: absolute;
            left: 20%;
          }

          .me {
            border-radius: 12rem 12rem 0 0;

            img {
              border-radius: 12rem 12rem 0 0;
            }
          }
         }
       }
    }
  }
}
@media screen and (max-width: 768px)  {
  header {
    height: 150vh;

    .header_container{
       .content{
         
        .left-h{
          position: absolute;
           transform: translateY(30rem);
           left: 15%;

           .about-me{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text{
              text-align: center;
            }

            .scrolldown{
              position: absolute;
             right: -5rem;
             flex-direction: column;
             top: -23rem;
              .scroll_down{
                transform: rotate(90deg);
                margin-bottom: 3rem;
                font-size: 1.5rem;
              }
            }
           }
          
        }
       .right-h{
        .me{
          border-radius: 12rem 12rem 0 0;

          img {
            border-radius: 12rem 12rem 0 0;
          }
        }
       }
         
       }
    }
  }
}
// ==== man hinh mobile ====///

@media screen and (max-width: 415px) {
    header{
      height: 140vh;
      .header_container{
        .content{
         .left-h{
           
           position: absolute;
            transform: translateY(23rem);
            left: 1%;
            
            .about-me{
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             font-size: x-small;
             .text{
               text-align: center;
             }
 
             .scrolldown{
              position: absolute;
              left: -6rem;
              
              top: 18rem;
               .scroll_down{
                transform: rotate(360deg);
                 margin-bottom: 4rem;
                 font-size: 1.5rem;
               }
             }
            }
           
         }
         .right-h{
          position: absolute;
          top: 4rem;
          right: 1.5rem;
          
          .header_social {
            position: absolute;
            right: 4rem;
            font-size: 1rem;
            top: 25rem;
          }

          .me {
            border-radius: 12rem 12rem 0 0;
            width: 5rem ;
            
           
            img {
              border-radius: 12rem 12rem 0 0;
              
            }
          }
         }
        }
    }
    }
}

@media screen and (max-width: 376px) {
  header{
    height: 130vh;
    .header_container{
      .content{

       .left-h{
         position: absolute;
          transform: translateY(22rem);
          left: 1%;
          
          .about-me{
          
           .scrolldown{
            position: absolute;
            left: -6rem;
            
            top: 17rem;
             .scroll_down{
              transform: rotate(360deg);
               margin-bottom: 4rem;
               font-size: 1.5rem;
             }
           }
          }
         
       }
       .right-h{
        position: absolute;
        top: 4rem;
        right: 0.8rem;
        
        .header_social {
          position: absolute;
          right: 4rem;
          font-size: 1rem;
          top: 25rem;
        }

        .me {
          border-radius: 12rem 12rem 0 0;
          width: 5rem ;
          
         
          img {
            border-radius: 12rem 12rem 0 0;
            
          }
        }
       }
      }
  }
  }
}
